In [52]:
from langchain_openai import ChatOpenAI
import pandas as pd
from langchain_core.prompts import ChatPromptTemplate
from langchain_core.output_parsers import JsonOutputParser
from tqdm import tqdm

In [ ]:
from langchain.chat_models import init_chat_model
from os import getenv
from dotenv import load_dotenv

load_dotenv()

# Initialize the model with OpenRouter's base URL
model = init_chat_model(
    model="xiaomi/mimo-v2-flash:free",
    model_provider="openai",
    base_url="https://openrouter.ai/api/v1",
    api_key=getenv("OPENROUTER_API_KEY")
    
)

The New England Patriots won the Super Bowl in the year Justin Bieber was born.

Here are the details:
*   **Justin Bieber's Birth Date:** March 1, 1994.
*   **Super Bowl XXVIII:** Played on January 30, 1994 (the Super Bowl that took place earlier that same calendar year).
*   **Champion:** The **Dallas Cowboys** defeated the Buffalo Bills.
*   **Super Bowl XXIX:** Played on January 29, 1995 (the Super Bowl following Bieber's birth year).
*   **Champion:** The **San Francisco 49ers** defeated the San Diego Chargers.

Therefore, depending on whether you consider the "year he was born" to be the calendar year of 1994 (the Cowboys) or the NFL season that started in 1994 (the 49ers), the answer is usually cited as the **San Francisco 49ers**. However, the Cowboys won the Super Bowl that took place just two months after he was born.

In [5]:
df=pd.read_csv("yelp.csv")

In [11]:
df

,business_id,date,review_id,stars,text,type,user_id,cool,useful,funny
0,9yKzy9PApeiPPOUJEtnvkg,2011-01-26,fWKvX83p0-ka4JS3dc6E5A,5,My wife took me here on my birthday for breakf...,review,rLtl8ZkDX5vH5nAx9C3q5Q,2,5,0
1,ZRJwVLyzEJq1VAihDhYiow,2011-07-27,IjZ33sJrzXqU-0X6U8NwyA,5,I have no idea why some people give bad review...,review,0a2KyEL0d3Yb1V6aivbIuQ,0,0,0
2,6oRAC4uyJCsJl1X0WZpVSA,2012-06-14,IESLBzqUCLdSzSqm0eCSxQ,4,love the gyro plate. Rice is so good and I als...,review,0hT2KtfLiobPvh6cDC8JQg,0,1,0
3,_1QQZuf4zZOyFCvXc0o6Vg,2010-05-27,G-WvGaISbqqaMHlNnByodA,5,"Rosie, Dakota, and I LOVE Chaparral Dog Park!!...",review,uZetl9T0NcROGOyFfughhg,1,2,0
4,6ozycU1RpktNG2-1BroVtw,2012-01-05,1uJFq2r5QfJG_6ExMRCaGw,5,General Manager Scott Petello is a good egg!!!...,review,vYmM4KTsC8ZfQBg-j5MWkw,0,0,0
...,...,...,...,...,...,...,...,...,...,...
9995,VY_tvNUCCXGXQeSvJl757Q,2012-07-28,Ubyfp2RSDYW0g7Mbr8N3iA,3,First visit...Had lunch here today - used my G...,review,_eqQoPtQ3e3UxLE4faT6ow,1,2,0
9996,EKzMHI1tip8rC1-ZAy64yg,2012-01-18,2XyIOQKbVFb6uXQdJ0RzlQ,4,Should be called house of deliciousness!\n\nI ...,review,ROru4uk5SaYc3rg8IU7SQw,0,0,0
9997,53YGfwmbW73JhFiemNeyzQ,2010-11-16,jyznYkIbpqVmlsZxSDSypA,4,I recently visited Olive and Ivy for business ...,review,gGbN1aKQHMgfQZkqlsuwzg,0,0,0
9998,9SKdOoDHcFoxK5ZtsgHJoA,2012-12-02,5UKq9WQE1qQbJ0DJbc-B6Q,2,My nephew just moved to Scottsdale recently so...,review,0lyVoNazXa20WzUyZPLaQQ,0,0,0
9999,pF7uRzygyZsltbmVpjIyvw,2010-10-16,vWSmOhg2ID1MNZHaWapGbA,5,4-5 locations.. all 4.5 star average.. I think...,review,KSBFytcdjPKZgXKQnYQdkA,0,0,0

In [26]:
df_sample = df[['text', 'stars']].sample(n=100, random_state=42).reset_index(drop=True)
print(f"Sample size: {len(df_sample)}")
df_sample.head()

Sample size: 100

                                                text  stars
0  We got here around midnight last Friday... the...      4
1  Brought a friend from Louisiana here.  She say...      5
2  Every friday, my dad and I eat here. We order ...      3
3  My husband and I were really, really disappoin...      1
4  Love this place!  Was in phoenix 3 weeks for w...      5

                                                 text  stars
0   We got here around midnight last Friday... the...      4
1   Brought a friend from Louisiana here.  She say...      5
2   Every friday, my dad and I eat here. We order ...      3
3   My husband and I were really, really disappoin...      1
4   Love this place!  Was in phoenix 3 weeks for w...      5
..                                                ...    ...
95  Went here while on vacation in Phoneix based o...      5
96  The Hyatt Place Scottsdale is a hidden jewel i...      4
97  This is my neighborhood grocery store. It's at...      4
98  Some of the food here is fantastic such as the...      4
99  If you have $6 burning a hole in your pocket, ...      2

[100 rows x 2 columns]

In [15]:
# Use double brackets [[...]]
df_new = df[['text', 'stars']]

In [18]:
df['stars'].value_counts()

stars
4    3526
5    3337
3    1461
2     927
1     749
Name: count, dtype: int64

In [17]:
df_new.describe()

              stars
count  10000.000000
mean       3.777500
std        1.214636
min        1.000000
25%        3.000000
50%        4.000000
75%        5.000000
max        5.000000

In [13]:
df.nunique()

business_id     4174
date            1995
review_id      10000
stars              5
text            9998
type               1
user_id         6403
cool              29
useful            28
funny             29
dtype: int64

In [21]:
# Get 2 random examples for each rating (Total 10 examples)
examples_df = df.groupby('stars').apply(lambda x: x.sample(n=2, random_state=42)).reset_index(drop=True)

# Select only the relevant columns for your prompt
examples_df = examples_df[['stars', 'text']]

# Display them so you can copy-paste into your prompt
for index, row in examples_df.iterrows():
    print(f"Rating: {row['stars']}\nReview: {row['text']}\n{'-'*30}")

Rating: 1
Review: An upscale mexican restaurant in the area seemed like the best thing to have happened to me. I planned my visit for a quieter evening, and reviewed the menu again and again.

However, upon our arrival I thought twice immediately. The parking was iffy, and the place didn't seem to stand up to the signage. Perhaps the art was not to my liking, honestly not a piece stands out in my memory.


We were seated immediately.

Our waiter seemed a little off, not to mention the fact that he was insanely snobby and seemed to be moonlighting in the kitchen, where he disappeared for 10-15 minutes at a time. He did not fill our soft drinks once without being first flagged down (those of you who have experienced the close quarters will understand how ridiculous this is).

Halfway through waiting for our food (which took 45 minutes, easily), the lamp above our table went out. We sat in the dark for a good 5 minutes before they even noticed. Which was actually a nice change of scenery from the boring beige walls.

When the food finally arrived, we were too tired (due to having finished an entire bottle of wine) so we left. Unfortunately, we took our grub with us.
I had some sort of mixed seafood entree with chorizo and a creamy sauce. It's no coincidence you're taken aback by the combination... it didn't go down too easily. Having dropped 90 dollars on the meal, though, we felt compelled to finish as much as we could stand.

Normally I would make sure I got the name of the dish right, but since I am recommending that you not go there, why bother?
------------------------------
Rating: 1
Review: So i thought with all the controversy surrounding this place, I would support the first amendment with my wallet. Unfortunately our experience here was subpar to say the least. We came in on a 3pm on Saturday and there was only one other couple inside. We were literally outnumbered by the people working there. I say this because somehow, despite this fact, the service was HORRENDOUS. I mean we got our order out fine, but our waitress dissappeared after that. At one point I had to almost get refills for us myself. The sushi itself was so overpriced for what it was. The Philadelphia roll was decent, but the California roll was really bad. When it came to paying, I put my credit card in the sleeve and waited for awhile. Despite there being no one else in the restaurant at this point except one other table, the waitress didn't return. If it wasn't for the cash I had on me I'd be waisting away there at this moment because she had no intention of returning and I have no intention of ingesting there food ever again!
------------------------------
Rating: 2
Review: I have lived here for about 5 months, the place is okay i guess, the ground are clean which I like, but the staff seems kinda disorganized.. they got our move in dates wrong which thank god I'm an early mover and didn't wait to the last min, then when we FINALLY moved in, we got a different apt than we were showed originally. The linen closet has a big freakin heater tank in it. Which okay whatever i guess is not that big of a deal but then I found out we pay more for our water because its not divided out between everyone else. Also EVERYTHING breaks our shower has broken twice, the closet light broke out the wall, the bathroom light fell out of the wall, the kitchen stove and the washer has all broke from the time we moved in (Last May). the only reason i give it 2 stars is because i do know there are a lot worse apartments out there but still my house is falling apart! When I go in the office i feel they always try and rush me out because i can finish my questions its really annoying. So be careful when looking at these apartments when looking for a place to live.
------------------------------
Rating: 2
Review: After hearing a lot about all of the MBFGR's that are around the valley, I finally got a chance to go recently as part of a family gathering (which was a planning fiasco and logistical nightmare, but I digress).  This location was, well, let's just say, it wasn't crowded.  And it showed in the service, very nice and attentive.  They were very patient when our party was supposed to be 8 people, then ballooned to 12 people, then 13.  Unfortunately, one of the solutions to accommodate us was to put a couple of square tables 'attached' to our eight person round table.  I *hate* this.  It's just awkward for at least half the people, and then the people that get stuck at the 'junction'...sucks...

We ordered some apps, though the only one I tried was the saganaki.  It was definitely good and the pita bread that it came with was nice and warm.  For a meal, I ordered a gyro pita.  Now, I understand that this is a 'full' greek restaurant, and maybe I shouldn't have gone with a gyro, BUT, that's what I was in the mood for, and being a basic greek food, shouldn't be hard to make a good one right?  Well, apparently not.  I've probably gotten gyros at ten places around town, and this was definitely the worst one I've had.  The pita wasn't particularly warm and the meat was kind of tough.  The tzatziki was fine, but thought it was a little weird to be on the side.

The service was good and patient, but the lame decision to combine two different kind of tables (when we suggested moving and pushing several squares together) knocks them down a little bit.  Though not as much as the not good gyro.  Probably closed to a 2.5, but rounded down to 2.
------------------------------
Rating: 3
Review: Enjoyed dinner on the patio - I had the Pad Cha Seafood dish rated "Thai hot" - the so-called hottest dish on the menu.  The person I was with ordered the ginger fish - mediocre at best, although it looked great with a variety of vegetables and pineapple.  I felt the dishes looked better than they actually tasted.  The seafood (mussels, calamari, salmon, shrimp) in my dish was very fresh but it wasn't Thai hot at all.  The ambiance of their patio was enjoyable and the Thai iced tea was very tasty although a little too sweet towards the end.  Overall, I will probably give this restaurant another try in the future but I wasn't very impressed with the taste of the food.
------------------------------
Rating: 3
Review: I really want to gives this Sprout's location 4 stars but over the past few months when I get a deli sandwich the bread has bean stale 1 out of 3 times I'm there so I can't do it. If this Sprout's can consistently not give me stale bread I'd be happy.

On to the rest of the store....
Sprout's is a great farmer's market with a great selection of produce as well as great meats, seafood and cheeses.
------------------------------
Rating: 4
Review: Loved the location at atmosphere of this place!  Had a very nice business dinner here last night.  We were able to sit outside thanks to the gorgeous weather, and I'd recommend this to anyone.  The houses inside have their charm, but al fresco dining is great!

We had a few drinks at the bar before we started dinner - they have a fairly nice wine by the glass list, as well as a nice stocked bar.  Something for everyone!

The menu contained lots of delicious choices, and it was hard to choose.  Ended up going with Hapuku, which was a new-to-me fish from New Zealand, similar to grouper.  It was delicious - tender, flaky, and the earthy vegetables with it were a nice complement.

We had very polite service, though not well-timed.  I like when plates are cleared all at once for people, instead of taking plates at the table away when others are eating.  OR, bringing the bill before we've finished dessert.  Both of these happened here.
------------------------------
Rating: 4
Review: I'm not sure how I've missed trying this place, after over a decade of living in the Valley, partly as an ASU student in need of a good hang-over recovery joint. I can't believe I relied exclusively on the IHOP on Apache Blvd, all those years in Tempe. Dammit!

It was packed on the New Year's Day morning I came here with a friend. The service was a bit slow but on par with my expectations for a jam-packed popular breakfast joint on New Year's Day. I ordered a calorie-laden Cajun skillet with scrambled eggs. I'm knocking off a star because the chicken pieces were too dry for my taste. But the rest of the skillet was very good. The service was friendly and professional. Wildcats beware, lots of ASU students within.
------------------------------
Rating: 5
Review: I never write these things. But I have to say that you will not be disappointed with Paletas Betty. Especially with the weather right now, it is a delicious and healthy treat, made with seasonal ingredients. I highly recommend the limón amarillo when in season. Delicious frozen lemondade/lemon drop on a stick, tossed in a sugar rub. It is for certain served in heaven. That is all.

P.S. check out the hours, yo. You know what's up.
------------------------------
Rating: 5
Review: I will continue to give this place five stars for so many reasons.  First, the menu is very creative, and offers a great variety of healthy food, with an Asian twist.  This time I had the shrimp curry, which had lots of fresh vegetables, and instead of a heavy cream curry, it was a much healthier broth curry.  We had the edamame dumplings again, which were as good as I remembered.  It was kind of cool to see Dr. Weil eating there last night.  It's good to know that he likes the place enough to dine there.
------------------------------

C:\Users\kingc\AppData\Local\Temp\ipykernel_21124\2693663461.py:2: FutureWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  examples_df = df.groupby('stars').apply(lambda x: x.sample(n=2, random_state=42)).reset_index(drop=True)

In [22]:
# Get exactly 1 high-quality example per star rating
examples_df = df.groupby('stars', group_keys=False).apply(lambda x: x.sample(n=1, random_state=42))

# Display them cleanly
for _, row in examples_df.iterrows():
    print(f"Rating: {row['stars']}\nReview: {row['text'][:200]}...") # Truncated for view
    print("-" * 20)

Rating: 1
Review: An upscale mexican restaurant in the area seemed like the best thing to have happened to me. I planned my visit for a quieter evening, and reviewed the menu again and again.

However, upon our arriva...
--------------------
Rating: 2
Review: I have lived here for about 5 months, the place is okay i guess, the ground are clean which I like, but the staff seems kinda disorganized.. they got our move in dates wrong which thank god I'm an ear...
--------------------
Rating: 3
Review: Enjoyed dinner on the patio - I had the Pad Cha Seafood dish rated "Thai hot" - the so-called hottest dish on the menu.  The person I was with ordered the ginger fish - mediocre at best, although it l...
--------------------
Rating: 4
Review: Loved the location at atmosphere of this place!  Had a very nice business dinner here last night.  We were able to sit outside thanks to the gorgeous weather, and I'd recommend this to anyone.  The ho...
--------------------
Rating: 5
Review: I never write these things. But I have to say that you will not be disappointed with Paletas Betty. Especially with the weather right now, it is a delicious and healthy treat, made with seasonal ingre...
--------------------

C:\Users\kingc\AppData\Local\Temp\ipykernel_21124\3677330274.py:2: FutureWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  examples_df = df.groupby('stars', group_keys=False).apply(lambda x: x.sample(n=1, random_state=42))

You are an expert NLP classifier specializing in restaurant and service review sentiment.

### RATING SCALE GUIDELINES:
- 1 Star: Disastrous experience, horrendous service, or major hygiene/quality issues.
- 2 Stars: Subpar. Some potential, but significant failures in food, service, or value.
- 3 Stars: "Okay." Decent but unremarkable, or great food with bad service (balanced).
- 4 Stars: Very good. High quality, with only minor nitpicks (timing, price, small issues).
- 5 Stars: Exceptional. Enthusiastic recommendation with no meaningful negatives.

### CRITICAL INSTRUCTION: RATING HINTS
Users often explicitly state their intended rating or a rating boundary inside the review text.

You MUST:
- Actively search for phrases like:
  - "I give it 3 stars"
  - "rounding down to 2"
  - "would be a 5 if..."
  - "giving an extra star for..."
- If the reviewer explicitly mentions a star rating, prioritize that value over sentiment analysis.
- If half-stars are mentioned (e.g., "3.5 stars"), apply standard rounding and also look at the overall sentiment unless the user specifies a rounding rule.
- Clearly mention in the explanation when a rating hint influenced the final decision.

### TASK:
You will be given 5 reviews. Classify each review according to the rules above.

Return ONLY a valid JSON array in the following format:
[
  {
    "review_index": <int 0-4>,
    "predicted_stars": <int 1-5>,
    "explanation": "<brief reasoning; explicitly state if a rating hint was detected>"
  }
]

### REVIEWS TO CLASSIFY:
0: "{review_0}"
1: "{review_1}"
2: "{review_2}"
3: "{review_3}"
4: "{review_4}"

In [60]:
prompt="""You are an expert NLP classifier specializing in restaurant and service review sentiment.

### RATING SCALE GUIDELINES:
- 1 Star: Disastrous experience, horrendous service, or major hygiene/quality issues.
- 2 Stars: Subpar. Some potential, but significant failures in food, service, or value.
- 3 Stars: "Okay." Decent but unremarkable, or great food with bad service (balanced).
- 4 Stars: Very good. High quality, with only minor nitpicks (timing, price, small issues).
- 5 Stars: Exceptional. Enthusiastic recommendation with no meaningful negatives.

### CRITICAL INSTRUCTION: RATING HINTS
Users often explicitly state their intended rating or a rating boundary inside the review text.

You MUST:
- Actively search for phrases like:
  - "I give it 3 stars"
  - "rounding down to 2"
  - "would be a 5 if..."
  - "giving an extra star for..."
- If the reviewer explicitly mentions a star rating, prioritize that value over sentiment analysis.
- If half-stars are mentioned (e.g., "3.5 stars"), apply standard rounding and also look at the overall sentiment unless the user specifies a rounding rule.
- Clearly mention in the explanation when a rating hint influenced the final decision.

### TASK:
You will be given 5 reviews. Classify each review according to the rules above.

Return ONLY a valid JSON array in the following format:
[
  {{
    "review_index": <int 0-4>,
    "predicted_stars": <int 1-5>,
    "explanation": "<brief reasoning; explicitly state if a rating hint was detected>"
  }}
]
"""

In [61]:
chat=ChatPromptTemplate.from_messages([
    ("system", prompt),
    ("human", "{input}"),
])

In [62]:
response = chat.invoke({"input": reviews_input})

In [64]:
final=model.invoke(response)

In [ ]:
final.content

'```json\n[\n  {\n    "review_index": 0,\n    "predicted_stars": 4,\n    "explanation": "The review is largely positive, praising the food (\'well made pub grub\'), service (\'friendly\'), and drinks (\'quality cocktails\'). The atmosphere is described as fitting for a sports bar. The reviewer mentions it was \'dead\' at midnight but rationalizes it and notes it\'s busy for happy hour. The positive update about the patio reinforces the sentiment. This aligns with \'Very good\' (4 stars), with the emptiness being a minor nitpick rather than a major failure."\n  },\n  {\n    "review_index": 1,\n    "predicted_stars": 5,\n    "explanation": "The review contains a very strong endorsement, stating the crawfish etouffee is \'the best she\'s had outside of Louisiana.\' This is exceptional praise, fitting the 5-star criteria of an enthusiastic recommendation."\n  },\n  {\n    "review_index": 2,\n    "predicted_stars": 3,\n    "explanation": "The sentiment is neutral to slightly positive. The food is described as \'good and filling\' and the tea \'hits the spot,\' but the description \'Typical strip mall pizza\' suggests it is unremarkable. This fits the \'Okay\' (3 stars) criteria of being decent but unremarkable."\n  },\n  {\n    "review_index": 3,\n    "predicted_stars": 1,\n    "explanation": "The review describes a \'disastrous experience\' involving what appears to be deceptive service (quoting $3000 for a $100 fix). The reviewer expresses strong disappointment and distrust (\'VERY hard to believe\'), and states they will not choose the brand in the future. This matches the 1-star criteria of major service issues and a horrendous experience."\n  },\n  {\n    "review_index": 4,\n    "predicted_stars": 5,\n    "explanation": "The review uses enthusiastic language (\'Love this place!\', \'amazing!\'). The food is highly praised (\'amazing\' squid salad), and the variety is noted positively. The phrase \'Must try!\' indicates an enthusiastic recommendation."\n  }\n]\n```'

In [66]:
output=JsonOutputParser()

In [68]:
output.invoke(final.content)

[{'review_index': 0,
  'predicted_stars': 4,
  'explanation': "The review is largely positive, praising the food ('well made pub grub'), service ('friendly'), and drinks ('quality cocktails'). The atmosphere is described as fitting for a sports bar. The reviewer mentions it was 'dead' at midnight but rationalizes it and notes it's busy for happy hour. The positive update about the patio reinforces the sentiment. This aligns with 'Very good' (4 stars), with the emptiness being a minor nitpick rather than a major failure."},
 {'review_index': 1,
  'predicted_stars': 5,
  'explanation': "The review contains a very strong endorsement, stating the crawfish etouffee is 'the best she's had outside of Louisiana.' This is exceptional praise, fitting the 5-star criteria of an enthusiastic recommendation."},
 {'review_index': 2,
  'predicted_stars': 3,
  'explanation': "The sentiment is neutral to slightly positive. The food is described as 'good and filling' and the tea 'hits the spot,' but the description 'Typical strip mall pizza' suggests it is unremarkable. This fits the 'Okay' (3 stars) criteria of being decent but unremarkable."},
 {'review_index': 3,
  'predicted_stars': 1,
  'explanation': "The review describes a 'disastrous experience' involving what appears to be deceptive service (quoting $3000 for a $100 fix). The reviewer expresses strong disappointment and distrust ('VERY hard to believe'), and states they will not choose the brand in the future. This matches the 1-star criteria of major service issues and a horrendous experience."},
 {'review_index': 4,
  'predicted_stars': 5,
  'explanation': "The review uses enthusiastic language ('Love this place!', 'amazing!'). The food is highly praised ('amazing' squid salad), and the variety is noted positively. The phrase 'Must try!' indicates an enthusiastic recommendation."}]

In [69]:
df_sample

                                                 text  stars
0   We got here around midnight last Friday... the...      4
1   Brought a friend from Louisiana here.  She say...      5
2   Every friday, my dad and I eat here. We order ...      3
3   My husband and I were really, really disappoin...      1
4   Love this place!  Was in phoenix 3 weeks for w...      5
..                                                ...    ...
95  Went here while on vacation in Phoneix based o...      5
96  The Hyatt Place Scottsdale is a hidden jewel i...      4
97  This is my neighborhood grocery store. It's at...      4
98  Some of the food here is fantastic such as the...      4
99  If you have $6 burning a hole in your pocket, ...      2

[100 rows x 2 columns]

In [49]:
for i in range(0, len(df_sample), 5):
    # Get current batch of 5 rows
    batch_df = df_sample.iloc[i : i + 5].copy()
    
    # Create the string input: "0: text\n1: text..."
    reviews_input = ""
    for idx, row in batch_df.reset_index().iterrows():
        reviews_input += f"{idx}: {row['text']}\n"
    break

In [50]:
reviews_input

"0: We got here around midnight last Friday... the place was dead. However, they were still serving food and we enjoyed some well made pub grub. Service was friendly, quality cocktails were served, and the atmosphere is derived from an old Uno's, which certainly works for a sports bar. It being located in a somewhat commercial area, I can see why it's empty so late on a Friday. From what my friends tell me - this is a great spot for happy hour, and it stays relatively busy thru 10pm.\n\n*UPDATE - Great patio for day-drinking on the weekends!\n1: Brought a friend from Louisiana here.  She says that the crawfish etouffee here is the best she's had outside of Louisiana!\n2: Every friday, my dad and I eat here. We order the same thing... pizza wraps. they are good and fillng. iced tea hits the spot. Typical strip mall pizza.\n3: My husband and I were really, really disappointed with our experience at Coulter Infiniti.  We brought our 2006 G37 with barely 34,000 miles (and out of warranty) to have the moon roof looked at.  The moon roof wouldn't open or close, but you could hear the motor working.\n\nAfter leaving the car there all day we get a call that the car needs a whole new moon roof track - which would cost over $3000.  We contacted their corporate office to attempt to get some or all of the cost covered, due to the fact that it's a big repair and the car  is barely out of warranty.  We were flat out denied.  Twice.  \n\nWe were dreading the big repair, and decided to bring the car to a different auto shop (which will get a big, fat 5 star review) for a second opinion.  Turns out the track just had a BUILD UP OF DIRT AND DEBRIS and needed to be cleaned out.  Seriously?!?!  Just over $100 later we were on our way!\n\nI find it VERY hard to believe that Coulter didn't know this was the problem.  We are now searching for a new SUV, and will not be choosing Infiniti.  How disappointing.\n4: Love this place!  Was in phoenix 3 weeks for work.  Ate here 3 times.  The squid salad is amazing!  They also have sushi, bibimbap, and tons of other items.  Must try!\n"